{%extends "layout.html"%}


{%block content%}

<h1 style= "color:white" class="h1">{{current_user.username}}'s Memoirs</h1>

{%endblock content%}






{%block secondary_content%}




<div class="container cta-100 ">
        <div class="container">
          <div class="row blog">
            <div class="col-md-12">
              <div id="blogCarousel" class="carousel slide container-blog" data-ride="carousel">

                <!-- Carousel items -->
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="row">

                      {%for page in pages %}

                      <div class="col-md-4" >
                        <div class="item-box-blog">
                          <div class="item-box-blog-image">
                            <!--Date-->
                            <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">{{page.date_created.date()}}</span> </div>
                            <!--Image-->

                            <figure> <img alt="" src="{{url_for('static',filename = 'img/Fhands.png')}}"> </figure>
                          </div>
                          <div class="item-box-blog-body">
                            <!--Heading-->
                            <div class="item-box-blog-heading">

                              <h5></h5>




                            </div>
                            <!--Data-->
                            <div class="item-box-blog-data" style="padding: px 15px;">
                              <p><i class="fa fa-user-o"></i> {{page.name}} <i class="fa fa-comments-o"></i> </p>
                            </div>
                            <!--Text-->
                            <div class="item-box-blog-text">
                              <p>{{page.quote}}</p>
                            </div>
                            <div class="mt"> <a href="{{url_for('pages.slam',slam_id=page.id)}}" tabindex="0" class="btn btn-outline-info">read more</a> </div>
                            <!--Read More Button-->
                          </div>
                        </div>
                      </div>

                      {%endfor%}

                    </div>
                    <!--.row-->
                  </div>
                  <!--.item-->
                </div>
                <!--.carousel-inner-->
              </div>
              <!--.Carousel-->
            </div>
          </div>
        </div>
      </div>






 {%endblock secondary_content%}



