{%extends "layout.html"%}

{%block content%}


<div class="modal-dialog text-center">
  <div class="col-sm-9 main-section">
    <div class="modal-content">
      <div class="col-12 user-img">
        <img src="{{url_for('static',filename='img/face.png')}}">

      </div>

      <div class="col-12 form-input">
        <form method="POST" action="">
            {{form.hidden_tag()}}
          <div class="form-group">
             {{form.password.label(class="form-control-label")}}

            {% if form.password.errors %}
            {{form.password(class="form-control is-invalid")}}
            {%for error in form.password.errors%}
            <div class="invalid-feeback">
              <span>{{form.password.error}}</span>
            </div>

            {%endfor%}

            {%else%}
             {{form.password(class="form-control")}}


            {%endif%}
          </div>

          <div class="form-group">
             {{form.confirm_password.label(class="form-control-label")}}

            {% if form.confirm_password.errors %}
            {{form.confirm_password(class="form-control is-invalid")}}
            {%for error in form.confirm_password.errors%}
            <div class="invalid-feeback">
              <span>{{form.confirm_password.error}}</span>
            </div>

            {%endfor%}

            {%else%}
             {{form.confirm_password(class="form-control")}}


            {%endif%}
          </div>



          {{form.submit(class="btn btn-outline-light")}}


        </form>





      </div>

    </div>

  </div>

</div>

{%endblock%}
